body{
    font-family: sans-serif;
    font-size: 30px;
}
table{
    padding: 5px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    font: outline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

